// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Icon
.las {
    font-size: 2em;
}

table tr th, table tr td{
    padding: 10px;
    text-align: center;
}
